:root {
  --dark-color: #0d0d0d;
  --middle-color: #262626;
  --light-color: #a6a6a6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.bar-button {
  width: 2rem;
}

.timing,
.slider {
  width: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-color);
}

.container .video-player {
  box-shadow: 0 0 15px var(--middle-color);
  width: 600px;
}

.container .video-player video {
  border: none;
  width: 100%;
}

.container .video-player .control-bar {
  color: var(--light-color);
  width: 100%;
  height: 2rem;
  background: var(--middle-color);
  font-size: 1.5rem;

  display: flex;
  gap: 0.2rem;
  /* justify-content: space-around; */
}
